{% load static %}
<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" id="bootstrap-css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
    <link rel="icon" href="/static/default_files/index/cookielogo.png">
  </head>

  <style>
    .service-1{
      background-image: url(images/wall.jpg);
      background-size: cover;
      background-position: 32% 20%;
    }

    .service-2{
      background-image: url(images/rbc.jpg);
      background-size: cover;
      background-position: top;
    }

    .service-3{
      background-image: url(images/lion.jpg);
      background-size: cover;
      background-position: top;
    }


  </style>

  <body>

    <div class="row" style="position:fixed;height:100%;width:100%">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 service-1">
        <a href="#"><span style="position:absolute;top:40%;left:20%;right:10%;font-weight:bold;font-size:35px;color:white;">
          Back Test Your Portfolio
        </span></a>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 service-2">
        <a href="#"><span style="position:absolute;top:40%;left:20%;right:10%;font-weight:bold;font-size:35px;color:white;">
          Similar and Better Portfolio
        </span></a>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 service-3">
        <a href="#"><span style="position:absolute;top:40%;left:20%;right:10%;font-weight:bold;font-size:35px;color:white;">
          Portfolio For Your Goal
        </span></a>
      </div>
    </div>

    <script
      src="http://code.jquery.com/jquery-3.3.1.js"
      integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
      crossorigin="anonymous"></script>

    <script src="{% static 'javascript/index.js' %}"></script>

  </body>
</html>
