{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
	<div class ="content-section">
		<form method="POST">
			{% csrf_token %}
		<fieldset class="form-group">
			<legend class="border-bottom mb-4">
				Select a Portfolio For Backtesting
			</legend>
			{{ form|crispy }}
		</fieldset>
		<div class="form-group">
			<button class="btn btn-primary" type="submit"> Test Portfolio</button>
		</div>
		</form>
	</div>
	<div style="padding:0px;">
    	<p><strong>Portfolio Chacteristics</strong> Return: {{return}} CVar: {{cvar}} Sharpe: {{sharpe}}</p>
   	</div>
	<div> 
		{{graph|safe}}
	</div>

{% endblock content %}