{% load static %}
<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

   <link rel="stylesheet" type="text/css" href="../static/css/main_template.css"> 

	{% if title %}
		<title>S.O.A.P. - {{ title }}</title>
	{% else %}
		<title>S.O.A.P.</title>
	{% endif %} -->

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="" />
	<meta name="keywords" content=""/>


  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700,800" rel="stylesheet">

	<!-- Animate.css -->
	<link rel="stylesheet" href="../static/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="../static/css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="../static/css/bootstrap.css">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="../static/css/magnific-popup.css">

	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="../static/css/owl.carousel.min.css">
	<link rel="stylesheet" href="../static/css/owl.theme.default.min.css">
	<!-- Flexslider  -->
	<link rel="stylesheet" href="../static/css/flexslider.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="../static/css/style.css">

	<!-- Modernizr JS -->
	<script src="../static/js/modernizr-2.6.2.min.js"></script>
	
</head>
<body  style="padding:0px; background-color: rgba(0,0,0,0.05)"> <!-- background-image: url(../static/images/background.jpg);background-size:cover;"> -->
	<header class="site-header">
	<!--
	  <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
	    <div class="container">
	      <a class="navbar-brand mr-4" href="/">S.O.A.P.</a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	      </button>
	      <div class="collapse navbar-collapse" id="navbarToggle">
	        {% if user.is_authenticated %}
				<div class="navbar-nav mr-auto">
					{% if user.first_name == '' %}
						<a class="nav-item nav-link" href="{% url 'portfolio' %}">{{request.user.username}}'s Portfolios</a>
					{% else %}
						<a class="nav-item nav-link" href="{% url 'portfolio' %}">{{request.user.first_name}}'s Portfolios</a>
					{% endif %}
					<a class="nav-item nav-link" href="{% url 'select' %}">Portfolio Services</a>
	          		<a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
				</div>
			{% else %}
				<div class="navbar-nav mr-auto">
					<a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
	          		<a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
				</div>
			{% endif %}


	      </div>
	    </div>
	  </nav> -->

		<nav class="fh5co-nav" role="navigation" style="background-color: white">
	      <div class="top-menu">
	        <div class="container">
	          <div class="row">
	            <div class="col-xs-7">
	              <div id="fh5co-logo"><a href="{% url 'webapp-home' %}" style="font-size:25px">S<span>.</span>O<span>.</span>A<span>.</span>P<span>.</span></a></div>
	            </div>
	            <div class="col-xs-5 text-right menu-1">
	              {% if user.is_authenticated %}
	                <ul>
	                  {% if user.first_name == '' %}
	                    <li class="btn-cta"><a href="{% url 'portfolio' %}"><span>{{request.user.username}}'s Portfolios</span></a></li>
	                  {% else %}
	                    <li class="btn-cta"><a href="{% url 'portfolio' %}"><span>{{request.user.first_name}}'s Portfolios</span></a></li>
	                  {% endif %}
	                  <li class="btn-cta"><a href="{% url 'select' %}"><span>Portfolio Services</span></a></li>
	                  <li class="btn-cta"><a href="{% url 'logout' %}"><span>Logout</span></a></li>
	                </ul>
	              {% else %}
	                <ul>
	                  <li class="btn-cta"><a href="{% url 'login' %}"><span>Login</span></a></li>
	                  <li class="btn-cta"><a href="{% url 'register' %}"><span>Sign Up</span></a></li>
	                </ul>
	              {% endif %}
	            </div>
	          </div>
	        </div>
	      </div>
	    </nav>

	</header>
	<main role="main" class="container" style="margin-top: 1%;background-color: white;border-radius: 10px;">
		<!-- style="background-color: #F0F8FF" style="width:100%;height:100%;padding:0px;background-image: url(../static/images/background.jpg);background-size:cover;" -->
  		<div class="row">
		    <div style= "width:80%;height:100%;text-align:center;margin-left:auto;margin-right:auto">	<!--class="col-md-8"-->
		    	{% if messages %}
		    		{% for message in messages %}
		    			<div class="alert alert-{{ message.tags }}">
		    				{{ message }}
		    			</div>
		    		{% endfor %}
		    	{% endif %}
		      {% block content %}{% endblock %}
		    </div>
		    <!-- I've chosen to not use any sidebar for this
		    <div class="col-md-4">
		      <div class="content-section">
		        <h3>Our Sidebar</h3>
		        <p class='text-muted'>You can put any information here you'd like.
		          <ul class="list-group">
		            <li class="list-group-item list-group-item-light">Latest Posts</li>
		            <li class="list-group-item list-group-item-light">Announcements</li>
		            <li class="list-group-item list-group-item-light">Calendars</li>
		            <li class="list-group-item list-group-item-light">etc</li>
		          </ul>
		        </p>
		      </div>
		    </div>
		-->
	  </div>
	</main>

	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>