{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

	<div class ="content-section">
		<form method="POST">
			{% csrf_token %}
		<fieldset class="form-group">
			<legend class="border-bottom mb-4">
				Select a Return Goal and Time Horizon
			</legend>
			{{ form|crispy }}
		</fieldset>
		<div class="form-group">
			<button class="btn btn-primary" type="submit"> Test Portfolio</button>
			
		</div>
		</form>

	</div>
	<div style="margin-left:-30%;padding:0px;">
		{{graph|safe}}
	</div>
	<div class="form-group">
			<button class="btn btn-primary" type="submit"> Save Result</button>	
	</div>

{% endblock content %}