{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

	<div style="padding:0px;">
    	<p><strong>Monthly Portfolio Chacteristics</strong> Return: {{return}} CVar: {{cvar}} Sharpe: {{sharpe}}</p>
   	</div>
	<div style="padding:0px;">
		{{graph|safe}}
	</div>
	<div class ="content-section">
		<form method="POST">
			{% csrf_token %}
		<fieldset class="form-group">
			<legend class="border-bottom mb-4">
				Select a Return Goal and Time Horizon
			</legend>
			{{ form|crispy }}
		</fieldset>
		<div class="form-group">
			<button class="btn btn-primary" type="submit"> Save Resulting Portfolio</button>
			
		</div>
		</form>
		<div class="border-top pt-3">
			<small class="text-muted">
				<a class="ml-2" href="{% url 'register' %}">Download Portfolio Details</a>
			</small>
		</div>
	</div>
	

{% endblock content %}